**Loops** are used to repeatedly execute a block of code as long as a certain condition is met.

* **for loop**: This loop is used to iterate over a sequence (like a list, tuple, dictionary, set, or string) or other iterable objects.

* **while loop**: This loop is used to repeatedly execute a block of code as long as a condition is true.

In [ ]:
# Example of for loop to iterate over a list
fruits = ["apple", "banana", "cherry"]
for fruit  in fruits: # for , fruit = each item in fruits (var)
    print(fruit) # print(each item)

# datatypes = a ,b,c ,0,1,2 ,abc124, 23.4556
# "anjana" ,"a","b", "123abc" , "234" - string /character
# 1,2,3 -integer . -1 ,-2 = signed integer
# 23.45 , 3.5 , 78.99999 - float
# 12.3456789043 - double
# a= ["anjana",1 ,"abc123",23.45 ] -list ,store different datatype ,modify
# b= ("anjana",1, "as34", 23.56) - tuple , store different datatype , not modifiable


a = [1,2,3,4,5,6,"abc","abc12", 88.9] #list  ,sequence of values stored inside a list
# for loop
for i in a: # for - keyword , i = items/ values/ elements , in ,a = variable
    print(i)
#1st loop = for 1 in a , print 1
#2nd loop = for 2 in a , print 2
#3rd loop = for 3 in a , print 3
#4th loop = for 4 in a , print 4
#5th loop = for 5 in a , print 5
#6th loop = for 6 in a , print 6
#7th loop = for abc in a , print abc
#8th loop = for abc12 in a , print abc12
#9th loop = for 88.9 in a , print 88.9

apple
banana
cherry
1
2
3
4
5
6
abc
abc12
88.9

In [ ]:
#a=1 #Variable =value
#print(a)

1

In [ ]:
# Example of while loop to print numbers from 1 to 5
i = 1 #variable = value
while i<=5: # while condition ,1 = <=5
    print(i)
    i += 1 # i = i+1

while True :
    print(i)
    i += 1
    if i > 5:
        break
#1st loop 1 is printed
#2nd loop 2 is printed ,1+1=2
#3rd loop 3 is printed ,2+1 =3
#4th loop 4 is printed ,3 +1 =4
#5th loop 5 is printed ,4 +1 =5

1
2
3
4
5
6

**Additional Control Statements in Loops**
* break: Terminates the loop prematurely.
* continue: Skips the rest of the code inside the loop for the current iteration and moves to the next iteration.
* else: Can be used with loops to execute a block of code once when the loop condition is no longer true.

In [ ]:
# Example of break statement
for num in range(10):
    if num == 5:
        break
    print(num)

0
1
2
3
4

In [ ]:
# Example of continue statement
for num in range(5):
    if num == 3:
        continue
    print(num)

0
1
2
4

In [ ]:
# Example of else with for loop
for num in range(5):
      print(num)
else:
    print("Loop finished")

# Example of else with while loop
i = 1
while i < 5:
    print(i)
    i += 1
else:
    print("Loop finished")

1
2
3
4
Loop finished

**Strings:**


In Python, a string is a sequence of characters enclosed within single (') or double (") quotes.

In [ ]:
my_string = "Hello, World!"

In [ ]:
# Strings

str1 = 'a'
str2 = 'abcdef'

In [ ]:
pattern = "----ooooo----"
print(pattern*5)

----ooooo--------ooooo--------ooooo--------ooooo--------ooooo----

**String Slicing:**

String slicing allows you to access specific characters or substrings within a string using indices.

In [ ]:
# string[start:end:step]

In [ ]:
my_string = "Hello, World!"
print(my_string[0])     # Output: 'H'
print(my_string[7:12])  # Output: 'World'
print(my_string[::-1])  # Output: '!dlroW ,olleH' (Reverse the string)

H
World
!dlroW ,olleH

In [ ]:
# String slicing

str1 = "This is a python class"
str1[:3]

'Thi'

In [ ]:
str1[3:]

's is a python class'

In [ ]:
str1[1:11:3]

'h_ y'

In [ ]:
str1[11:3:-2]

'y  i'

In [ ]:
str1[:4]

'This'

In [ ]:
str1[:]

'This is a python class'

In [ ]:
str1[:-3]

'This is a python cl'

In [ ]:
str1[-11:-3:-2]

''

In [ ]:
print(len(str1))

22

In [ ]:
str1.lower()

'this is a python class'

In [ ]:
str1.upper()

'THIS IS A PYTHON CLASS'

In [ ]:
list1 = str1.split(" ")
print(list1)

['This', 'is', 'a', 'python', 'class']

In [ ]:
str3 = " ".join(list1)
print(str3)

This is a python class

In [ ]:
# find function (or index function)
# Returns the lowest (or highest for rfind() / rindex()) index where the substring is found in a string.
# Optionally, you can specify start and end indices to search within a specific range.
# Returns -1 if sub is not found.

str1 = "Hello hi this is abc hi Hello hi!"
str2 = "hi"
str3 = "1234"

print(str1.find(str2))
print(str1.index(str2))

print(str1.rfind(str2))
print(str1.rindex(str2))

print(str1.find(str2,8,32))
print(str1.rfind(str2,8,32))

print(str1.find(str3))

6
6
30
30
10
30
-1

In [ ]:
list2 = ['12','12','2022']

str4 = "/".join(list2)
print(str4)

12/12/2022

In [ ]:
str5 = "abdjABCDEFgsdfhs"
print(str5.isalpha())

True

In [ ]:
# For negative numbers, isdigit() and isnumeric() will return False because they are designed
# to work with positive integers or numbers composed of digits.

# isdecimal() ---- returns True only if the string contains numerical values strictly (0-9)
# isdigit() ------ returns True if the string contains superscripts or digits (0-9) but doesnot accept fractional parts
# isnumeric() ---- returns True if the string contains superscripts, fractional parts or digits (0-9)

str1 = "1234556"
print(str1.isnumeric())
print(str1.isdigit())
print(str1.isdecimal())
print("\n")

str2 = "123¼½¾"
print(str2.isnumeric())
print(str2.isdigit())
print(str2.isdecimal())
print("\n")

str3 = "23.4"
print(str3.isnumeric())
print(str3.isdigit())
print(str3.isdecimal())
print("\n")

str4 = "-12345"
print(str4.isnumeric())
print(str4.isdigit())
print(str4.isdecimal())
print("\n")

str5 = "123²³"
print(str5.isnumeric())
print(str5.isdigit())
print(str5.isdecimal())

True
True
True


True
False
False


False
False
False


False
False
False


True
True
False

In [ ]:
str7 = "123fsfslkj123"
print(str7.isalnum())

True

In [ ]:
# isupper():

# Returns True if all alphabetic characters in the string are uppercase,
# and the string contains at least one alphabetic character; otherwise, it returns False.

string1 = "HELLO"
string2 = "Hello"
string3 = "123"
string4 = "H123"
string5 = "123H"
string6 = "h123"
string7 = "123h"

print(string1.isupper())
print(string2.isupper())
print(string3.isupper())
print(string4.isupper())
print(string5.isupper())
print(string6.isupper())
print(string7.isupper())

True
False
False
True
True
False
False

In [ ]:
# islower():

# Returns True if all alphabetic characters in the string are lowercase,
# and the string contains at least one alphabetic character; otherwise, it returns False.

string1 = "hello"
string2 = "Hello"
string3 = "123"
string4 = "H123"
string5 = "123H"
string6 = "h123"
string7 = "123h"

print(string1.islower())
print(string2.islower())
print(string3.islower())
print(string4.islower())
print(string5.islower())
print(string6.islower())
print(string7.islower())

True
False
False
False
False
True
True

In [ ]:
string1 = "abcdefghijklmnopqrstuvwxyz"
string2 = string1.upper()
string3 = "0123456789"
string4 = ";:@#$%&^*"

# Getting input
a = input("Enter the password:")

flag1 = flag2 = flag3 = flag4 = False

for i in a:
    if i in string1:
        flag1 = True
    elif i in string2:
        flag2 = True
    elif i in string3:
        flag3 = True
    elif i in string4:
        flag4 = True
    else:
        pass



if (flag1==True) and (flag2==True) and (flag3==True) and (flag4==True):
    print("Valid password")
else:
    print("Invalid password")

Enter the password:anjana
Invalid password

In [ ]:
# istitle():

# Returns True if the string is titlecased (i.e., the first character of each word is uppercase
# and all other characters are lowercase); otherwise, it returns False.

string1 = "Hello Class"
string2 = "Hello class"
string3 = "123 class"
string4 = "123 Class"
string5 = "123"
string6 = "ABC"
string7 = "ABcdef"

print(string1.istitle())
print(string2.istitle())
print(string3.istitle())
print(string4.istitle())
print(string5.istitle())
print(string6.istitle())
print(string7.istitle())

True
False
False
True
False
False
False

In [ ]:
# isspace():

# Returns True if all characters in the string are whitespace characters
# (e.g., space, tab, newline); otherwise, it returns False.

string1 = "   "
string2 = "Hello Class"
string3 = "\t\t\n"

print(string1.isspace())
print(string2.isspace())
print(string3.isspace())

True
False
True

In [ ]:
# Colors selection

input_val = input("Enter the colours:")

list_1 = input_val.split(" ")
print(list_1)

if "Black" in list_1 and "White" in list_1:
    print("True")
else:
    print("False")

Enter the colours:Black White Red Yellow Blue
['Black', 'White', 'Red', 'Yellow', 'Blue']
True

In [ ]:
# strip():
# Removes leading and trailing whitespace (or specific characters) from a string.
print("      hello     ")
print("      hello     ".strip())

      hello
hello

In [ ]:
string = "!---Hello!, Class!---"
stripped_string = string.strip("!-")
print(stripped_string)

Hello!, Class

In [ ]:
string = "-------Hello, Class!--------"
left_stripped_string = string.lstrip("-")
print(left_stripped_string)

Hello, Class!--------

In [ ]:
string = "-------Hello, Class!--------"
right_stripped_string = string.rstrip("-")
print(right_stripped_string)

-------Hello, Class!

In [ ]:
# capitalize():

# Capitalizes the first character of a string.

str_capitalize = "hi hello how are you"
str_2 = "123456"
str_3 = "123abc defghi"
str_4 = "abc 123defghi"
print(str_capitalize.capitalize())
print(str_2.capitalize())
print(str_3.capitalize())
print(str_4.capitalize())

Hi hello how are you
123456
123abc defghi
Abc 123defghi

In [ ]:
# title():

# Capitalizes the first alphabet of each word in a string.

print(str_capitalize.title())
print(str_2.title())
print(str_3.title())
print(str_4.title())

Hi Hello How Are You
123456
123Abc Defghi
Abc 123Defghi

In [ ]:
# replace()

# Replaces occurrences of a substring old with new in a string.

# Optionally, you can specify a count parameter to limit the number of replacements.

string = "She sells sea shells by the sea shore. She sells sea shells."
new_string1 = string.replace("sea", "ocean")
print(new_string1)
new_string2 = string.replace("sea", "ocean", 2)
print(new_string2)

She sells ocean shells by the ocean shore. She sells ocean shells.
She sells ocean shells by the ocean shore. She sells sea shells.

In [ ]:
# startswith(), endswith()

# Returns True if the string starts or ends with the specified prefix or suffix respectively; otherwise, returns False.

# Optionally, you can specify start and end indices to search within a specific range.

string = "Hello, This is a python class!"

if string.startswith("Hello"):
    print("The string starts with 'Hello'")
else:
    print("The string does not start with 'Hello'")

print(string.startswith("Hello"))

The string starts with 'Hello'
True

In [ ]:
if string.endswith("Class!"):
    print("The string ends with 'Class!'")
else:
    print("The string does not end with 'Class!'")

print(string.endswith("Class!"))

The string does not end with 'Class!'
False

In [ ]:
# Escape sequencing

# Using double quotes in the string is not allowed.
mystr = "My favourite TV Series is "Game of Thrones""

SyntaxError: invalid syntax (<ipython-input-21-62cdaa07f85c>, line 4)

In [ ]:
mystr = "My favourite TV Series is \"Game of Thrones\""
print(mystr)

My favourite TV Series is "Game of Thrones"

In [ ]:
mystr = "My favourite TV Series is \n\"Game of Thrones\""
print(mystr)

In [ ]:
mystr = "My favourite TV Series is \t\"Game of Thrones\""
print(mystr)

In [ ]:
mystr = "My favourite TV Series \\n is \"Game of Thrones\""
print(mystr)

My favourite TV Series \n is "Game of Thrones"

In [ ]:
# String enumerate

str1 = "ACDEFGHIJ"
for i,j in enumerate(str1):
    print("Index : ",i)
    print("Value : ",j)

Index :  0
Value :  A
Index :  1
Value :  C
Index :  2
Value :  D
Index :  3
Value :  E
Index :  4
Value :  F
Index :  5
Value :  G
Index :  6
Value :  H
Index :  7
Value :  I
Index :  8
Value :  J

In [ ]:
# String formatting is the process of infusing things in the string dynamically and
# presenting the string. There are four different ways to perform string formatting:

# Formatting with % Operator.
# Formatting with format() string method.
# Formatting with string literals, called f-strings.
# Formatting with String Template Class

# All of these methods provide ways to dynamically insert values into strings.

In [ ]:
# Formatting with % Operator:

# The % operator allows you to insert values into a string using placeholders.
# The placeholders are represented by % followed by a format specifier.

name = "ABCD"
age = 30
formatted_string = "My name is %s and I am %d years old." % (name, age)
print(formatted_string)

In [ ]:
'''
Floating-point numbers:

%f - Floating point numbers (e.g., 3.14, 2.71828).
%e - Exponential notation (e.g., 3.14e+00, 2.72e+00).
%g - General format (either fixed-point format or exponential notation, depending on the value) for floating-point numbers.

Other integer types:

%x - Hexadecimal format (lowercase) for integers.
%X - Hexadecimal format (uppercase) for integers.
%o - Octal format for integers.

String representations:

%r - String representation (similar to repr()).
%c - Single character (accepts integer or single-character string).

Width and Precision:

%Ns: This specifies a string with a minimum width of N characters. If the string is less than N characters, it will be padded with spaces to the right.
%Nd: This specifies an integer with a minimum width of N digits. If the integer has fewer than N digits, it will be padded with leading spaces.
%.Nf: This specifies a floating-point number with N digits after the decimal point.
Padding and Alignment:

%Ns: This specifies a right-justified string with a minimum width of N characters. If the string is less than N characters, it will be padded with spaces to the left.
%-Ns: This specifies a left-justified string with a minimum width of N characters. If the string is less than N characters, it will be padded with spaces to the right.
%Nd: This specifies a right-justified integer with a minimum width of N digits. If the integer has fewer than N digits, it will be padded with leading spaces.
%-Nd: This specifies a left-justified integer with a minimum width of N digits. If the integer has fewer than N digits, it will be padded with trailing spaces.
%N.Mf: This specifies a floating-point number with a minimum width of N characters and M digits after the decimal point. If necessary, it will be padded with leading spaces.

Miscellaneous:

%% - Literal % character (used to escape %).
'''

In [ ]:
pi = 3.14159234
formatted_string = "The value of pi is approximately: %f" % pi
formatted_string1 = "The value of pi is approximately: %.4f" % pi
formatted_string2 = "The value of pi is approximately: %10.2f" % pi

print(formatted_string)
print(formatted_string1)
print(formatted_string2)

In [ ]:
number = 200
formatted_string = "The hexadecimal representation of 255 is: %X" % number
print(formatted_string)

The hexadecimal representation of 255 is: C8

In [ ]:
text = "Hello, World!"
formatted_string = "The string representation of %s is: %r" % (text, text)
print(formatted_string)

The string representation of Hello, World! is: 'Hello, World!'

In [ ]:
# %g works for only numerical values

a = 123.34
print("Floating point value is %g" % a)
text = "Hello, World!"

Floating point value is 123.34

In [ ]:
formatted_string = "The string is %g" % text
print(formatted_string)

TypeError: must be real number, not str

In [ ]:
name = "John"
formatted_string = "Hello, %10s!" % name
print(formatted_string)

In [ ]:
# Floating-point number with minimum width of 10 characters and 2 digits after the decimal point
num = 3.14159
print("%10.2f" % num)

# Floating-point number with minimum width of 8 characters and 3 digits after the decimal point
num = 123.456789
print("%8.3f" % num)
print("%2.3f" % num)

# Floating-point number with minimum width of 6 characters and 1 digit after the decimal point
num = 7.5
print("%6.1f" % num)

In [ ]:
# Formatting with format() string method:

# The format() method allows for more flexibility in formatting strings.
# You can use placeholders within curly braces {} and
# call the format() method on the string to replace them with corresponding values.
name = "John"
age = 12
formatted_string = "My name is {} and I am {} years old.".format(name, age)
print(formatted_string)

My name is John and I am 12 years old.

In [ ]:
# Formatting with string literals, called f-strings:

# f-strings provide a more concise and readable way to format strings in Python.
# You can directly insert variables and expressions within curly braces {} in the string itself.
name = "John"
age = "12"
formatted_string = f"My name is {name} and I am {age} years old."
print(formatted_string)

In [ ]:
# Formatting with String Template Class:

# The string.Template class provides another method for string formatting.
# It uses placeholders identified by dollar signs $.

from string import Template
n = "John"
a = 12
template = Template("My name is $name and I am $age years old.")
formatted_string = template.substitute(name=n, age=a)
print(formatted_string)

My name is John and I am 12 years old.

In [ ]:
# Entering multiple lines of string

str1 = "Hello how are you? I am good! This is an example of entering multiple lines in string with double quotes."
print(str1)

string = """Hello how are you?
I am good!
This is an example of entering multiple lines in string with double quotes."""
print(string)

string = '''Hello how are you?
I am good!
This is an example of entering multiple lines in string with single quotes.'''
print(string)

In [ ]:
string = "Hello how are you? \nI am good! \nThis is an example of entering multiple lines in string with double quotes."
print(string)

Hello how are you?
I am good!
This is an example of entering multiple lines in string with double quotes.

In [ ]:
"""
The partition() method searches for a specified string and splits the string into 3 elements and returns as a tuple.
 - The first element contains the part before the argument string.
 - The second element contains the argument string.
 - The third element contains the part after the argument string.
"""
str5 = "I am going to but apple and orange and grapes."
L = str5.partition("and")
print(L)
print(type(L))

('I am going to but apple ', 'and', ' orange and grapes.')
<class 'tuple'>

In [ ]:
"""
The rpartition() method searches for the last occurence of the specified string and returns three elements as a tuple.
 - The first element contains the part before the argument string.
 - The second element contains the argument string.
 - The third element contains the part after the argument string.
"""
str5 = "I am going to buy apple and orange and grapes."
L = str5.rpartition("and")
print(L)
print(type(L))

('I am going to buy apple and orange ', 'and', ' grapes.')
<class 'tuple'>

**Concatenation of Strings:**

String concatenation is combining multiple strings into one.

In [ ]:
str1 = "Hello"
str2 = "World"
concatenated_string = str1 + ", " + str2 + "!"
print(concatenated_string)  # Output: 'Hello, World!'

Hello, World!

**Logical Operators in Strings:**

Logical operators (and, or, not) can be used with strings to evaluate conditions.

In [ ]:
str1 = "Hello"
str2 = "World"
print(str1 == "Hello" and str2 == "World")  # Output: True

True

In [ ]:
str1 = "Helo"
str2 = "World"
print(str1 == "Hello" or str2 == "World")

True

In [ ]:
str1 = "Hello"
print (not str1== "Hello")  # Output: True

False

* **Task 1: Count Words in a Sentence**

Write a function that counts the number of words in a given sentence.

* **Task 2: Count Vowels in a String**

Write a function that takes a string as input and counts the number of vowels (a, e, i, o, u) in the string.

* **Task 3: Check for Palindrome**

Write a function that checks whether a given string is a palindrome (reads the same backward as forward).

* **Task 4: Sum of Numbers**

Write a program that calculates the sum of all numbers from 1 to a user-specified number using a for loop.

* **Task 5: Even Numbers Using While Loop**

Write a program that prints all even numbers between 1 and 20 (inclusive) using a while loop.